*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}




@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Montserrat&family=Rubik+Distressed&family=Signika&display=swap');


body{
    background-color: gray;
    background-image: url(./fondo2.png)   ;
    background-size:contain;
    font-size:2rem;
    cursor: url(—Pngtree—vector\ cursor\ icon_4143911.png), auto;
    
    
}

header{
    float:right
    
}
.h3{
    text-align-last: right;
}


.menu{
    background-color: black;
    display: inline-flex;
    float:right
}
.menu a{
    text-decoration: none;
    color: white;
    padding: 0 10px;
}

.menu a:hover{
    background-color:white;
    color: black;
}

.menu a.active{
    background-color: white;
    color: black;
}
.social {
    padding: 30px 0;

}
.social a{
    padding: 0 10px;
    color: rgb(231, 37, 124);
}
.social a:hover{
    color: black;
}
.boton a{
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 4px;
    border-radius: 4px;
}
.boton a:hover{
color: red;
background-color: white;
}
.col{
    width: 350px;
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    padding: 20px;
}
.col.h2{
    text-align: center;
    font-display: ;

}
h3{
    font-weight: 400px;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
}

.linea{
    background: #550b51;
    height: 5px;
    width: 100%;
    display: block;
}
.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap:10px;
    padding: 40px 0;
    overflow: hidden;
}

.galeria img{
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s  ;
}

.galeria > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0 , .5)

}

.galeria a:hover img{
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}
.form__input{
    font-family: inherit;
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid  #bbb0b0 ;
    border-radius: 0.2em;
}

.form__input--message{
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}
.form__cta{
    font-family: inherit;
}
.form{

    backfont-family: 'Montserrat', sans-serif;
    background-color: white;
    width: 30%;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em;
    margin: auto;
}
.form__container{
    width: 100%;
    display: grid;
    gap: lem;
    grid-auto-columns: 100%;
}

.form__title{
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: .4em;
}
.bolso{
    display: grid;
    place-content: center;
 font-family: 'Montserrat', sans-serif;
 font-size: 64px;
 text-align: center;
 color: #550b51;


}
.descripcion{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #550b51;
    background: #bbb0b0;
}
.col h2{
  font-family: 'Rubik Distressed', cursive;
    font-size: 50px;
    color: #550b51;
    text-align: center;
}